erlang_version=19.2
elixir_version=1.4.0
always_rebuild=true
config_vars_to_export=(DATABASE_URL SECRET_KEY_BASE API_KEY DOMAIN_NAME  AWS_DOWNLOAD_URL AWS_BUCKET AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY JIGSAW_URL JIGSAW_TOKEN SMTP_PASSWORD SMTP_USERNAME SMTP_RELAY SMTP_PORT DEFAULT_FROM_EMAIL_ADDRESS DEFAULT_TO_EMAIL_ADDRESSES QR_CODE_URL APK_URL LOGO_URL CONSOLIDATED_FEEDBACK_RECIPIENT_EMAIL_ADDRESSES WEEKLY_SIGNUP_REMINDER_RECIPIENT_EMAIL_ADDRESSES WEEKLY_STATUS_UPDATE_RECIPIENT_EMAIL_ADDRESSES EMAIL_POSTFIX OKTA_PREVIEW OKTA_API_KEY)
