<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RecruitX</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- TODO: move styles out of html -->
    <div class="container">
      <div class="page-header">
        <h1>Welcome to RecruitX</h1>
      </div>
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert" style="display: none;"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert" style="display: none;"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <!-- TODO: Move this into the interviews view template (this is the "global" (or common) layout file) -->
      <ul id="candidates" style="list-style: none;">
        <%= for interview <- @interviews_with_signup do %>
          <li>
            <div class="jumbotron" class="row" style="margin-bottom: 10px;margin-top: 10px;">
              <div class="col-sm-3">
                <%= "#{interview.candidate.first_name} #{interview.candidate.last_name}"%>
              </div>
              <div class="col-sm-1">
                <%= "#{interview.candidate.role.name}"%>
              </div>
              <div class="col-sm-1">
                <%= "#{interview.candidate.experience} yrs"%>
              </div>
              <div class="col-sm-2">
                <%= "#{interview.candidate.other_skills} "%>
              </div>
              <div class="col-sm-2">
                <%= "#{interview.interview_type.name}"%>
              </div>
              <div class="col-sm-1">
                <%= "#{interview.start_time.day}/#{interview.start_time.month}/#{interview.start_time.year}"%>
              </div>
              <div class="col-sm-1">
                <%= "#{interview.start_time.hour}:#{interview.start_time.minute}"%>
              </div>
              <button type="button" class="btn btn-primary">signup</button>
            </div>
          </li>
          <% end %>
      </ul>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

</html>
