<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RecruitX</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- TODO: move styles out of html -->
  <div class="container">
    <div class="page-header">
      <h1>Welcome to RecruitX</h1>
    </div>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <ul id="candidates" style="list-style: none;">
      <%= for interview <- @interviews do %>
        <li>
          <div class="jumbotron" class="row" style="margin-bottom: 10px;margin-top: 10px;">
            <%= "#{interview.candidate.first_name} #{interview.candidate.last_name}"%>
          </div>
          <button type="button" class="btn btn-primary">signup</button>
        </li>
        <% end %>
    </ul>
  </div>
</body>

</html>
