<p>Hi,</p>
  <p>
    The "<b><%= interview_name %></b>" round on "<b><%= interview_date %></b>" is cancelled for the candidate "<b><%= candidate_first_name %> <%= candidate_last_name %></b>".
  </p>
<br />
<strong>Thanks</strong><br />
RecruitX
